<%- include('../partials/header') %>

<main class="error-main">
    <h1>403 - Forbidden</h1>
    <p>You do not have permission to view this page.</p>
    <a href="/" class="cta-button">Go Home</a>
</main>

<%- include('../partials/footer') %>
